<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <style>
        .slotDesign {
            border: 2px solid #4A249D;
            border-radius: 20%;
            padding: 8px;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .slotDesign.selected {
            background-color: #4A249D;
            color: white;
        }

        .slotDesign.notAvailable {
            background-color: #e9e9e9;
            color: black;
            border: none;
            cursor: not-allowed;
        }

        .availableSlotBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 14px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dynamic Clock</a></li>
                            <li><a href="#">Form Validation</a></li>
                            <li><a href="#">Card Slider</a></li>
                            <li><a href="#">Complete Website</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 95px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold">Book Appointment</h1>
        <p class="text-center"> - With few steps ahead!</p>
        <div class="flex items-center justify-center p-12">
            <div class="mx-auto w-full max-w-[500px] bg-white">
                <form id="bookAppointmentForm">
                    <div class="mb-5">
                        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name here : Shiva S"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="mb-5">
                        <label for="phone" class="mb-3 block text-base font-medium text-[#07074D]">Contact
                            Number</label>
                        <input type="text" name="phone" id="phone"
                            placeholder="Enter your phone number here : +918765432123"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="date" class="mb-3 block text-base font-medium text-[#07074D]">Date</label>
                                <input type="date" name="date" id="date"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="preferredTime" class="mb-3 block text-base font-medium text-[#07074D]">Preferred Time</label>
                                <input list="preferredTimeList" name="preferredTime" id="preferredTime" placeholder="Preferred time" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                                <datalist id="preferredTimeList">
                                    <option value="Forenoon">
                                    <option value="Afternoon">
                                    <option value="Evening">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="specialist" class="mb-3 block text-base font-medium text-[#07074D]">Specialist</label>
                        <input list="specialistList" name="specialist" id="specialist" placeholder="specialist" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        <datalist id="specialistList">
                            <option value="Dermatologist">
                            <option value="Gynacologist">
                            <option value="Neurologist">
                        </datalist>
                    </div>
                    <div class="mb-5">
                        <label for="preferredMode" class="mb-3 block text-base font-medium text-[#07074D]">Preferred Mode</label>
                        <input list="preferredModeList" name="preferredMode" id="preferredMode" placeholder="Preferred Mode (Online/Offline)" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        <datalist id="preferredModeList">
                            <option value="Online">
                            <option value="Offline">
                        </datalist>
                    </div>
                    <div class="mb-5">
                        <label for="preferredLanguage" class="mb-3 block text-base font-medium text-[#07074D]">Preferred Language</label>
                        <input list="preferredLanguageList" name="preferredLanguage" id="preferredLanguage" placeholder="Preferred Language" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        <datalist id="preferredLanguageList">
                            <option value="Tamil">
                            <option value="English">
                            <option value="Telugu">
                            <option value="Hindi">
                            <option value="Malayalam">
                        </datalist>
                    </div>
                    <div class="mb-5">
                        <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">Reason for appointment</label>
                        <input type="text" name="description" id="description" placeholder="Provide your reason here"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md break-words" />
                    </div>
                    <div>
                        <button
                            class="hover:bg-white hover:text-[#4A249D] hover:border-[#4A249D] hover:border-2 rounded-md bg-[#4A249D] w-full py-3 px-8 text-center text-base font-semibold text-white outline-none">
                            Book Appointment
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>