<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var slider = document.getElementById("slider");
            var nextBtn = document.getElementById("nxtBtn");
            var prevBtn = document.getElementById("prevBtn");
            console.log(nextBtn)
            nextBtn.addEventListener("click", () => {
                slider.style.scrollBehavior = "smooth";
                slider.scrollLeft += 350;
            });
            prevBtn.addEventListener("click", () => {
                slider.style.scrollBehavior = "smooth";
                slider.scrollLeft -= 350;
            });
        })
    </script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dynamic Clock</a></li>
                            <li><a href="#">Form Validation</a></li>
                            <li><a href="#">Card Slider</a></li>
                            <li><a href="#">Complete Website</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 95px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold">My Appointments</h1>
        <div class="my-5 border-b-2 pb-5">
            <h1 class="font-bold ml-10 text-xl">Today Appointments</h1>
            <!-- <div id="todayAppointments" class="relative w-full mt-10"> -->
            <div class="flex">
                <div class="w-3/10 px-5 flex items-center justify-center">
                    <button id="prevBtn"><i class='bx bxs-chevron-left bx-md'></i></button>
                </div>
                <div id="slider" class="h-50 w-full flex overflow-hidden">
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-blue-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                    <div class="relative h-90 grid-cols-1  m-5 bg-white shadow-lg rounded-lg border">
                        <div class="flex flex-row mt-8">
                            <div class="p-6">
                                <h2 class="text-lg font-semibold mb-2">AppointmentId</h2>
                                <p>date</p>
                                <p>slot</p>
                                <p>description</p>
                                <p>status</p>
                                <p>type</p>
                            </div>
                            <div class="p-6">
                                <p>doctorName</p>
                                <p>specialization</p>
                            </div>
                        </div>
                        <span
                            class="absolute top-0 right-0 bg-green-400 text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                            Today
                        </span>
                    </div>
                </div>
                <div class="w-3/10 px-5 flex items-center justify-center">
                    <button id="nxtBtn"><i class='bx bxs-chevron-right bx-md'></i></button>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="my-5 border-b-2">
            <h1 class="font-bold ml-10 text-xl">Upcoming Appointments</h1>
            <div id="upcomingAppointments">
                <div class="relative max-w-sm mx-auto bg-white shadow-lg overflow-hidden">
                    <div class="flex flex-row mt-8">
                        <div class="p-6">
                            <h2 class="text-xl font-semibold text-gray-800 mb-2">AppointmentId</h2>
                            <p>date</p>
                            <p>slot</p>
                            <p>description</p>
                            <p>status</p>
                            <p>type</p>
                        </div>
                        <div class="p-6">
                            <p>doctorName</p>
                            <p>specialization</p>
                        </div>
                    </div>
                    <span
                        class="absolute top-0 right-0 bg-blue-500 text-white text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                        Today
                    </span>
                    <div class="flex flex-row justify-center">
                        <button class="p-3 m-3 bg-[#4A249D]">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 border-b-2">
            <h1 class="font-bold ml-10 text-xl">Completed Appointments</h1>
            <div id="completedAppointments">
                <div class="relative max-w-sm mx-auto bg-white shadow-lg overflow-hidden">
                    <div class="flex flex-row mt-8">
                        <div class="p-6">
                            <h2 class="text-xl font-semibold text-gray-800 mb-2">AppointmentId</h2>
                            <p>date</p>
                            <p>slot</p>
                            <p>description</p>
                            <p>status</p>
                            <p>type</p>
                        </div>
                        <div class="p-6">
                            <p>doctorName</p>
                            <p>specialization</p>
                        </div>
                    </div>
                    <span
                        class="absolute top-0 right-0 bg-blue-500 text-white text-xs font-semibold px-10 py-3 rounded-tl-lg rounded-bl-lg shadow-lg">
                        Today
                    </span>
                    <div class="flex flex-row justify-center">
                        <button class="p-3 m-3 bg-[#4A249D]">View Prescription</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>