<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dynamic Clock</a></li>
                            <li><a href="#">Form Validation</a></li>
                            <li><a href="#">Card Slider</a></li>
                            <li><a href="#">Complete Website</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="clear: both;margin-top: 100px;">
        <h1 class="text-center text-2xl uppercase font-extrabold" style="color: #4A249D;">Our specialization</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 p-3" style="height: 300px;">
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2 hover:ring-white-500" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
            <div class="card bg-white shadow-lg rounded-lg text-center m-3">
                <div class="mx-auto mt-5" style="width: 110px;height:110px;border-radius: 100%;border: 3px solid #4A249D;">
                    <img src="../dermatology.png" alt="Image" class="w-20 h-25 object-cover mx-auto">
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2" style="color: #4A249D;">Dermatology</h3>
                    <p class="text-gray-600">Skin health diagnosis and treatment.</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>